<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error Page</title>
  <style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
    }
    .error-container {
        margin: 50px;
    }
    h1 {
        font-size: 36px;
        color: #FF5733;
    }
    p {
        font-size: 18px;
    }
  </style>
</head>
<body>
<div class="error-container">
  <h1>Error</h1>
  <p>Lo sentimos, se ha producido un error.</p>
  <p><a href="/">Volver a la página de inicio</a></p>
</div>
</body>
</html>
