<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head th:replace="~{plantilla/template :: head}">
</head>
<body>
<header th:replace="~{plantilla/template :: header}"></header>

<div class="container">
    <h1 th:text="${titulo}"></h1>
</div>

<div class="container">

    <a class="btn btn-primary btn-sm" th:href="@{/views/clientes/create}"
       th:text="'Nuevo Cliente'" title="Crear Nuevo Registro">
    </a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Ciudad</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cl:${clientes}">
            <th scope="row" th:text="${cl.id}"></th>
            <td th:text="${cl.nombres}"></td>
            <td th:text="${cl.apellidos}"></td>
            <td th:text="${cl.telefono}"></td>
            <td th:text="${cl.email}"></td>
            <td th:text="${cl.ciudad.Ciudad}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="pagination">
    <ul>
        <li th:if="${clientes.hasPrevious()}">
            <a th:href="@{/views/clientes?page=0&amp;size=10}">&laquo; Primero</a>
        </li>
        <li th:if="${clientes.hasPrevious()}">
            <a th:href="@{/views/clientes?page=${clientes.previousPageable().pageNumber}&amp;size=10}">Anterior</a>
        </li>
        <li th:each="i : ${#numbers.sequence(0, clientes.totalPages - 1)}" th:class="${i} == ${clientes.number} ? 'active'">
            <a th:href="@{/views/clientes?page=${i}&amp;size=10}" th:text="${i + 1}"></a>
        </li>
        <li th:if="${clientes.hasNext()}">
            <a th:href="@{/views/clientes?page=${clientes.nextPageable().pageNumber}&amp;size=10}">Siguiente</a>
        </li>
        <li th:if="${clientes.hasNext()}">
            <a th:href="@{/views/clientes?page=${clientes.totalPages - 1}&amp;size=10}">Último &raquo;</a>
        </li>
    </ul>
</div>
</div>

<footer th:replace="~{plantilla/template :: footer}"></footer>

</body>
</html>