<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla/template :: head}">
</head>
<body data-bs-theme="dark">
<header th:replace="~{plantilla/template :: header}"></header>

<div class="container">
    <h1 th:text="${titulo}"></h1>
</div>

<div class="container">
    <a class="btn btn-primary btn-sm" th:href="@{/views/clientes/create}" th:text="'Nuevo Cliente'" title="Crear Nuevo Registro"></a>

    <form class="input-group mb-3" th:action="@{/views/clientes}" method="get">
        <input type="text" class="form-control" name="filtro" th:value="${filtro}" placeholder="Buscar por nombre...">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" >Buscar</button>
        </div>
    </form>

    <form action="/views/clientes/seleccionados" method="post">
<table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Seleccionar</th>
        </tr>
        </thead>
        <tbody id="tablaClientes">
        <tr th:each="cl, rowStat : ${clientes}">
            <th scope="row" th:text="${cl.id}"></th>
            <td th:text="${cl.nombres}"></td>
            <td th:text="${cl.apellidos}"></td>
            <td th:text="${cl.telefono}"></td>
            <td th:text="${cl.email}"></td>
            <td th:text="${cl.ciudad.Ciudad}"></td>
            <td>
                <input type="checkbox" class="cliente-checkbox" name="ids" th:id="'cliente-checkbox-' + ${rowStat.index}" th:value="${cl.id}">
            </td>
        </tr>
        </tbody>
    </table>
<input type="submit" value="Ver Seleccionados" class="btn btn-primary">
</form>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:if="${clientes.hasPrevious()}">
                <a class="page-link" th:href="@{/views/clientes(page=0, size=10, filtro='')}" aria-label="Primero">
                    <span aria-hidden="true">&laquo; Primero</span>
                </a>
            </li>
            <li class="page-item" th:if="${clientes.hasPrevious()}">
                <a class="page-link" th:href="@{/views/clientes(page=${clientes.previousPageable().pageNumber}, size=10, filtro=${filtro} )}" aria-label="Anterior">
                    <span aria-hidden="true">Anterior</span>
                </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, clientes.totalPages - 1)}" th:class="${i} == ${clientes.number} ? 'active'">
                <a class="page-link" th:href="@{/views/clientes(page=${i}, size=10, filtro=${filtro})}" th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:if="${clientes.hasNext()}">
                <a class="page-link" th:href="@{/views/clientes(page=${clientes.nextPageable().pageNumber}, size=10, filtro=${filtro})}" aria-label="Siguiente">
                    <span aria-hidden="true">Siguiente</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/views/clientes(page=${clientes.totalPages - 1}, size=10, filtro=${filtro})}" aria-label="Último">
                    <span aria-hidden="true">Último &raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

    <footer th:replace="~{plantilla/template :: footer}"></footer>

</body>

</html>
